// Colors
$color-primary: #b02bbf;
$color-primary-light: #d189d9;
$color-primary-dark: #9300af;

$color-grey-light-1: #f7f7f7;

$color-white: #fffffc;
$color-black: #11151c;
$color-rust: #c15124;

// Font
$default-font-size: 1.6rem; // REPLACE IN SCSS

// Grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;
