.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.6),
      rgba($color-black, 0.5)
    ),
    url(../img/header-bg.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 85vh, 100% 70vh, 100% 0, 0 0);
  clip-path: polygon(0 85vh, 100% 70vh, 100% 0, 0 0);

  &__navigation {
    font-size: 2rem;
    position: absolute;
    top: 4rem;
    right: 13rem;
    font-weight: 700;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      // background-color: darkgray;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.05);
      transform: scale(1.1);
    }
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 13rem;
    color: $color-white;
  }

  &__logo {
    height: 3.2rem;
    float: left;
    padding-right: 1rem;
  }

  &__logo-text {
    float: left;
    font-size: 2.5rem;
    margin-top: -0.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
  }
}
